<% if current_user %>
  <h2>Welcome Back</h2>
  <%= link_to 'Log Out', '/logout', method: :delete %>

  <h1>View Party</h1>

  <h2>Current People</h2>
  <% @people.each do |person| %>
    <p><%= "#{person.email}" %></p>
  <% end %>

<% else %>
  <h2>Welcome!</h2>
  <p><strong><%= link_to "I already have an account", login_path %></strong></p>
  <p><%= button_to "Create New User", "/register", method: :get %></p>

<% end %>
